<div class="row">
  <div class="col-md-12">
    <h1>Les grades</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @grades.any? %>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Alias</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @grades.each do |grade| %>
          <tr>
            <div class="row">
              <td><%= grade.name %></td>
              <td><%= grade.alias %></td>
              <td><%= grade.description %></td>
              <div class="col-md-2 col-md-offset-10">
                <td>
                  <div class="btn-group pull-right" role="group" aria-label="...">

                    <%= link_to(grade, class: 'btn btn-info', title: 'Voir') do %>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Voir
                    <% end %>

                    <% if user_signed_in? %>
                      <%= link_to(edit_grade_path(grade), class: 'btn btn-warning', title: 'Editer') do %>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editer
                      <% end %>

                      <%= link_to(grade,
                                  method: :delete,
                                  data: {
                                      confirm: 'Êtes-vous sûr(e) de vouloir supprimer ce grade ?'
                                  },
                                  class: 'btn btn-danger',
                                  title: 'Supprimer'
                          ) do %>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
                      <% end %>
                    <% end %>
                  </div>
                </td>
              </div>
            </div>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Aucun grade enregistré pour le moment
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
<div class="row">
  <div class="col-md-6 col-md-offset-6">
    <%= link_to(new_grade_path, class: 'btn btn-success pull-right', title: 'Ajouter un grade') do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un grade
    <% end %>
  </div>
</div>
<% end %>