<% if @expedition.errors.any? %>
  <div class="callout callout-danger">
    <h4>Error during the object save</h4>

    <p>There is one or more errors for this object :</p>
    <ul>
      <% @expedition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= simple_form_for(@expedition) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="row">
    <div class="form-group col-lg-5">
      <%= form.label :start_date, label: 'Start date' %>
      <%= form.text_field :start_date, class: 'form-control', data: { provider: 'daterange' } %>
    </div>

    <div class="form-group col-lg-5">
      <%= form.label :start_date, label: 'End date' %>
      <%= form.text_field :end_date, class: 'form-control', data: { provider: 'datepicker' } %>
    </div>

    <div class="form-group col-lg-5">
      <%= form.association :astronauts, label: 'Astronauts', include_blank: false, include_hidden: false, class: 'form-control',
                           :input_html => {
                               multiple: 'multiple',
                               data: { provider: 'select2-multiple', placeholder: 'Choose an Astronaut' }
                           }
      %>

    </div>

    <div class="form-group col-lg-5">
      <%= form.association :planet, label: 'Planet', class: 'form-control', :input_html => {
          data: {
              provider: 'select2',
              placeholder: 'Choose a Planet'
          }
      } %>
    </div>
  </div>

  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>