<p>
  <strong>Astronauts:</strong>
  <%= render 'astronauts/astronaut_list', astronauts: @expedition.astronauts %>
</p>

<p>
  <strong>Planet:</strong>
  <%= @expedition.planet.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @expedition.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @expedition.end_date %>
</p>

<%= link_to 'Edit', edit_expedition_path(@expedition) %> |
<%= link_to 'Back', expeditions_path %>
