<%= simple_form_for(report) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-group">
    <%= form.input :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.input :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.association :astronaut, class: 'form-control' %>
  </div>
  <%= form.submit 'Enregistrer', class: 'btn btn-primary' %>
<% end %>
