<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- <link rel="icon" type="image/png" href="icon/icons8-planet-48.png"> -->

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title>RubyPlanet</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "RubyPlanet", home_path, :class => "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="<%= 'active' if params[:controller] == 'home' %>">
          <%= link_to "Home", home_path %>
        </li>

        <li class="<%= 'active' if params[:controller] == 'planets' %>">
          <%= link_to "Planètes", planets_path %>
        </li>

        <li class="<%= 'active' if params[:controller] == 'astronauts' %>">
          <%= link_to "Astronautes", astronauts_path %>
        </li>

        <li class="<%= 'active' if params[:controller] == 'grades' %>">
          <%= link_to "Grades", grades_path %>
        </li>

        <li class="<%= 'active' if params[:controller] == 'reports' %>">
          <%= link_to "Reports", reports_path %>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <%= msg %>
    </div>
  <% end %>

  <%= yield %>
</div> <!-- /.container --></body>
</html>